<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="inputFile" value="pair.tst"/>
    <add key="outputFile" value="output.cpp"/>
    <add key="logFile" value="logs.tst"/>
    <add key="globalState" value="global"/>
    <add key="visitedCount" value="1"/>
    <add key="showRouting" value="yes"/><!--YES to show the routing path-->
    <add key="routingFile" value="ROUTE.txt"/><!--FIle that contains the routing path-->
  </appSettings>
</configuration>